---
---
<footer class="bg-stone-200 dark:bg-stone-950 w-full py-20 px-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-12 max-w-[1920px] mx-auto">
        <div class="flex flex-col gap-6">
            <div class="font-headline font-bold text-lg text-stone-950 dark:text-stone-50 uppercase tracking-tighter">Minimal arquitectura</div>
            <p class="font-body text-[0.75rem] leading-relaxed tracking-wide opacity-60">
                Trascendiendo tendencias a través de la narrativa estructural.
            </p>
        </div>
        <div class="flex flex-col gap-4">
            <span class="font-label text-[0.7rem] uppercase tracking-widest font-bold mb-2 opacity-40">Conectar</span>
            <div class="flex flex-col gap-3">
                <a class="font-body text-[0.75rem] tracking-wide opacity-60 hover:opacity-100 flex items-center gap-2" href="https://www.instagram.com/minimal_bga/">Instagram</a>
                <a class="font-body text-[0.75rem] tracking-wide opacity-60 hover:opacity-100 flex items-center gap-2" href="https://wa.me/573008299673">WhatsApp</a>
            </div>
        </div>
    </div>
</footer>
